@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 67%, rgba(75, 126, 184, undefined) 61%);
}

.container {
    width: 800px;
    height: 100%;
}

.container-imagem {
    margin-top: 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-imagem p {
    font-size: 14px;
    margin-top: 3px;
}

.img {
    background-image: url('./fotopepoperfil.jpg');
    height: 120px;
    width: 120px;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 2px solid black;
}

.container-botao {
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
}

.botao {
    width: 90%;
    height: 60px;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    background-color: #4b7eb8;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
}

.botao i {
    margin-left: 20px;
    font-size: 25px;
}

.botao p {
    flex: 1;
    text-align: center;
    font-weight: 600;
}

.botao:hover {
    background-color: #649ff7;
    cursor: pointer;
    width: 92%;
    transition: 0.3s;
}